{% extends "base.html" %}
{% load humanize%}

{% block content %}
<div class="site-sectino">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-m-12">
                <h2 class="text-black">Tu perfil.</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de usuario: {{ request.user }}</h5>
                        <h5 class="card-title">Email: {{ request.user.email }}</h5>
                        <a href="{% url 'account_logout' %}"><small class="float-right">Cerrar sesión</small></a>
                    </div>
                    <hr />
                    <h5 class="card-title">Tus pedidos</h5>
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Referencia No.</th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th colspan="2">Estado de pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in all_orders %}
                                <tr>
                                    <td>#{{ order.reference_number }}</td>
                                    <td>{{ order.ordered_date }}</td>
                                    <td>$. {{ order.get_total | intcomma }}</td>
                                    <td>{% if order.ordered %}Pagada{% else %}No pagada{% endif %}</td>
                                    <td><a class="btn btn-outline-success float-right" href="{% url 'cart:order-detail' order.pk %}" role="button">Ver pedido</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No tienes ningura compra!</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}