{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">  
        <h1>{% trans "Restablecimiento de contraseña" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "¿Olvidaste tu contraseña?  Ingresa tu E-MAIL en la parte de abajo y te enviaremos un link para reestablecerla." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="{% trans 'Restablecer mi contraseña' %}" />
        </form>
        <br>
        <p>Por favor contáctanos <a href="{% url 'contact' %}">AQUÍ</a> si no puedes reestablecer tu contraseña.</p>
    </div>
{% endblock %}
