{% extends "base.html" %}
{% load humanize %}
{% block content %}
<style>
    .container .card-order{
        margin-top: 15px;
    }
</style>

<div class="py-2" style="background-color: rgb(235, 235, 235);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">INICIO</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-block">TIENDA</strong>
            </div>
        </div>
    </div>
</div>

<div style="background-color: rgb(255, 255, 255);">
    <div class="container">
      <div class="row">
      {% for order in orders|dictsort:"id" reversed%}
          <div class="col-md-6">
            <div class="card card-order">
              <div class="card-header">
                <b>Pedido {{order}} - Comprado hace: {{order.payu_payment_id.utc_purchase_date|timesince}}  </b>
              </div>
              

                {% for item in order.items.all %}
                  <div class="container">
                      <img src="{{ item.product.image.url }}" 
                          class="img-thumbnail float-left" style="max-width: 100px;">
                          {{item.product.title}}
                  </div>
                {% endfor %}
              
              <div class="card-footer text-muted">
                <b>Valor total ${{order.get_total|intcomma}}</b>
                <a class="btn btn-outline-success float-right" href="{% url 'cart:order-detail' order.pk %}" role="button">Ver pedido</a>
              </div>
            </div>
          </div>
      {% endfor %}
      </div>
    </div>
</div>
    
{% endblock content %}