{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="py-3" style="background-color: rgb(235, 235, 235);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">INICIO</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-block">TIENDA</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section" style="background-color: rgb(255, 255, 255);">
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <b>Pedido # {{order}}</b><br/>
                        Fecha de compra: 2020/20/20<br/>
                        Valor total $ {{order.get_total | intcomma}}<br/>
                        Estado: <b style="color: green;">{{order.get_state_display}}</b><br/>
                        Envío: <b style="color: green;">{{order.get_delivery_status_display}}</b><br/>
                    </div>
                    <div class="site-blocks-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.items.all %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="{{ item.product.image.url }}" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">{{item.product.title}}</h2>
                                        <small>Tamaño: {{ item.size.name }}</small>
                                        <small>Color: {{ item.colour.name }}</small>
                                    </td>
                                    <td>${{item.product.get_price | intcomma }}</td>
                                    <td>
                                        {{ item.quantity }}
                                    </td>
                                    <td>
                                        ${{item.get_total_item_price|intcomma}}
                                    </td>
                                </tr>
                                {% endfor%}
                                <tr>
                                    <td colspan="4">
                                    </td>
                                    <td colspan="1">
                                        <b>RESUMEN DE PAGO</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                    </td>
                                    <td colspan="1">
                                        <b>SUBOTAL</b>
                                    </td>
                                    <td colspan="1">
                                        ${{ order.get_subtotal|intcomma }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                    </td>
                                    <td colspan="1">
                                        <b>TOTAL</b>
                                    </td>
                                    <td colspan="1">
                                        ${{ order.get_total|intcomma }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                  
            </div>
        </div>
      </div>
</div>
    
{% endblock content %}