{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<style>
    
    .lds-hourglass {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 32px solid rgb(146, 35, 35);
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1.2s infinite;
      }
      @keyframes lds-hourglass {
        0% {
          transform: rotate(0);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
          transform: rotate(900deg);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
          transform: rotate(1800deg);
        }
      }      
</style>

<div class="container">
        
    <div class="col-md-8 offset-md-2">
        
        <b>Resumen del pedido:</b><br><br>
        Ciudad de entrega: <b>{{ order.shipping_address.city}}</b><br>
        Direccion de entrega: <b>{{ order.shipping_address.address_line_1}}</b><br> 
        Valor total a pagar: $<b>{{ order.get_raw_total|intcomma}}</b><br>
        <br>
        
        <p><b>Paga de manera segura con PayU:</b></p>
         
            <form method="POST" action="{{ urlpay }}" class="text-center">
                {% csrf_token %}
                <div class="p-2 p-lg-2">
                    {{ form.merchantId.as_hidden }}
                    {{ form.accountId.as_hidden }}
                    {{ form.description.as_hidden }}
                    {{ form.referenceCode.as_hidden }}
                    {{ form.amount.as_hidden }}
                    {{ form.tax.as_hidden }}
                    {{ form.taxReturnBase.as_hidden }}
                    {{ form.currency.as_hidden }}
                    {{ form.signature.as_hidden }}
                    {{ form.test.as_hidden }}
                    {{ form.buyerEmail.as_hidden }}
                    {{ form.responseUrl.as_hidden }}
                    {{ form.confirmationUrl.as_hidden }}
                </div>
                <div class="row text-center">
                    <div class="form-group text-center" style="display:block;margin:auto;">
                        <input type="image" data-aos='fade-up' name="submit" src="{% static 'images/payupay.png' %}" alt="Submit" style="width: 250px;" />
                    </div>
                    <button class="btn btn-success btn-lg py-3 btn-block" type="submit">
                        Proceder al pago
                    </button>
                </div>
            </form>
         

    </div>
        
</div>


{% endblock content %}